  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

 body{
    background-image: url(./Images/pexels-pixabay-40568.jpg);
    background-size: cover;
  }

  .background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

form{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

form *{
  font-family: 'Poppins',sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  margin: -3px;
}

label{
  margin-top: 30px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

/* input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  border-radius: 20px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border-color: #000000af;
  border-style: solid;
  border-width: 1px;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
*{
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.container{
  position: relative;
  width: 400px;
  padding: 60px 40px;
}
header{
  font-size: 40px;
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
}
.input-field, form .button{
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}
.input-field input{
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 15px;
  transition: .4s;
  margin-top: 10px;
  border-radius: 20px;
}
input:focus{
  border: 2px solid #1DA1F2;
}
.input-field label, span.show{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
}
.input-field label{
  left: 10px;
  pointer-events: none;
  color: black;
  font-size: 15px;
  transition: .4s;
  font-weight: 100;
  top: 10px;
}
span.show{
  right: 20px;
  color: #111;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
}
input:valid ~ span.show{
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label{
  transform: translateY(-33px);
  background: transparent;
  border: none;
  font-size: 15px;
  border-width: 1px;
  border-bottom: none;
  color: black;
  border-left: none;
  border-right: none;
  margin-top: 10px;
}
form .button{
  margin-top: 30px;
  overflow: hidden;
  z-index: 111;
}

.btns-login{
  cursor: pointer;
}

.input{
  display: flex;
  flex-wrap: wrap;
}

.btn-forget{
  color: rgb(32, 24, 187, 0.7);
  width: 160px;
  height: 30px;
  position: absolute;
  top: 480px;
  cursor: pointer;
  left: 3px;
  background-color: transparent;
  transition: 0.5s;
}

.btn-forget:hover {
  font-size: larger;
  transition: 0.5s;
  padding-left: 3px;
}

.btn-signup{
  color: rgb(32, 24, 187, 0.7);
  width: 160px;
  height: 30px;
  position: absolute;
  top: 480px;
  cursor: pointer;
  right: 3px;
  background-color: transparent;
  transition: 0.5s;
}

.btn-signup:hover {
  font-size: larger;
  transition: 0.5s;
  padding-left: 3px;
}

.btn-login{
  color: black;
  width: 91px;
  height: 38px;
  position: absolute;
  top: 352px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000af;
  background-color: transparent;
  left: 150px;
}

.or-block{
  text-align: center;
  position: absolute;
  top: 389px;
  display: flex;
  flex-direction: row;
  color: rgb(32, 24, 187, 0.7);
  left: 87px;
}

.lines{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgb(32, 24, 187, 0.7);
  margin-left: 10px;
  margin-right: 10px;
  width: 79px;
}

.or{
  text-align: center;
  margin-top: 10px;
}

.icon-google {
    /* background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; */
  width: 100px;
    position: absolute;
    height: 120px;
    top: 435px;
    left: 144px;
}
