/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sideNav-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

/* body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
} */

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* body.dark{
    --body-color: #18191a;
    --sideNav-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --textNav-color: #ccc;
} */

.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sideNav-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sideNav.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sideNav li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sideNav .sideHeader .pic,
.sideNav .iconNav {
  min-width: 60px;
  border-radius: 6px;
}

.sideNav .iconNav {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sideNav .textNav,
.sideNav .iconNav {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sideNav .textNav {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sideNav.close .textNav {
  opacity: 0;
}
/* =========================== */

.sideNav .sideHeader {
  position: relative;
}

.sideNav .sideHeader .pic-textNav {
  display: flex;
  align-items: center;
}
.sideNav .sideHeader .logo-textNav {
  display: flex;
  flex-direction: column;
}
.sideHeader .pic-textNav .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

.sideHeader .pic-textNav .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sideNav .sideHeader .pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideNav .sideHeader .pic img {
  width: 40px;
  border-radius: 6px;
}

.sideNav .sideHeader .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sideNav-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

/* body.dark .sideNav .sideHeader .toggle{
    color: var(--textNav-color);
} */

.sideNav.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sideNav .pro {
  margin-top: 40px;
  justify-content: left;
  display: flex;

  /* padding: 0px !important; */
}

/* .sideNav li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
} */

/* .sideNav li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
} */
.sideNav li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sideNav li a:hover {
  background-color: var(--primary-color);
}

.sideNav li a:hover .iconNav,
.sideNav li a:hover .textNav {
  color: var(--sideNav-color);
}
/* body.dark .sideNav li a:hover .iconNav,
body.dark .sideNav li a:hover .textNav{
    color: var(--textNav-color);
} */

.sideNav .pro-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.pro-bar::-webkit-scrollbar {
  display: none;
}
/* .sideNav .pro-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
} */

/* .pro-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
} */

/* .mode .sun-moon i{
    position: absolute;
} */
/* .mode .sun-moon i.sun{
    opacity: 0;
} */
/* body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
} */

/* .pro-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
} */

/* .toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
} */

/* .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sideNav-color);
    transition: var(--tran-04);
} */

/* body.dark .switch::before{
    left: 20px;
} */

/* .home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .textNav{
    font-size: 30px;
    font-weight: 500;
    color: var(--textNav-color);
    padding: 12px 60px;
}

.sideNav.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
} */
/* body.dark .home .textNav{
    color: var(--textNav-color);
} */
