.log {
    /* display: flex; */
    width: 100%;
    /* flex-direction: column; */
}

.inputs{
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
    width: 25%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}


#dataDisplay{
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    /* flex-direction: column; */
    /* padding: 5%; */
    /* padding-bottom: 0% !important; */
    /* justify-content: space-between; */
    /* gap: 5%; */
}

/* #dataDisplay3{
    display: flex;
    flex-direction: row;
    gap: 6%;
    padding: 0%;
} */

#inputField{
    width: 30%;
    margin: 16px;
}

.fady {
    width: 43%;
    /* margin: 16px; */
}

.text {
    width: 100%;
    padding-left: 27px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: x-large;
    font-weight: 500;
}


@media (max-width: 1000px) {
    /* #dataDisplay3, #dataDisplay {
      flex-direction: column;
    } */

    #inputField {
        /* flex-direction: column; */
        width: 40%;
        margin: 16px;
      }
      #dataDisplay{
          display: flex;
          justify-content: space-evenly;
      }
  }

  @media (max-width: 600px) {
    #inputField {
        width: 100%;
    }
  }