.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 800px;
}

.Home {
    width: 110px;
    height: 33px;
    font-size: initial;
    font-family: cursive;
    border-radius: 5px;
    color:rgb(0, 125, 254);
    background-color: white;
    border: .1rem solid #0e087c;;
}

.Home:hover{
    background-color:rgb(0, 125, 254);
    color: white;
}

img {
        width: -webkit-fill-available;
}

.button-contain {
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 33px;
}