#message{
    background-image: url(../../assets/images/message.svg);
    background-size: 80%;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
   
}

#cards{
  display: flex;
  flex-direction: row;
  /* font-size: 30px; */
  text-align: center;
  justify-content: center;
  float: right;
  position: absolute;
  flex-wrap: nowrap;
  width: 100%;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /* flex-wrap: nowrap; */
}

/* #cards div{
    padding: 10px;
    flex: calc(100%/3%);
  } */