.serv-cont {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

@media (max-width: 900px) {
    .serv-cont {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    }
}